@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @*@{
            var json = ViewData["MyJSON"];
    }*@
<form>
    <input type="text" id="Departure" value="BUD-sky">
    <input type="text" id="Destination" value="BERL-sky">

    <label for="start">Start date:</label>

    <input type="date" id="start" name="trip-start"
           value="2019-11-14"
           min="2019-01-01" max="2019-12-31">

    <label for="end">End date:</label>

    <input type="date" id="end" name="trip-end"
           value="2019-11-15"
           min="2019-01-01" max="2019-12-31">
    <button id="submitButton" name="submit" type="button">GIVE ME MY SEARCH RESULT!PLS</button>


</form>
    <h1>JSON:</h1>
    <p id="JSONPLACE"></p>
    <div id="results">
    </div>
    

</div>
