@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flying from</span>
                                        <input id="countries" class="form-control" type="text" placeholder="City or airport">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flying to</span>
                                        <input id="countries2" class="form-control" type="text" placeholder="City or airport">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Flying from</span>
                                        <select id="airportFrom" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Flying to</span>
                                        <select id="airportTo" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Departing</span>
                                        <input id="start" class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Returning</span>
                                        <input id="end" class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Adults (18+)</span>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Children (0-17)</span>
                                        <select class="form-control">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Travel class</span>
                                        <select id="cabinClass" class="form-control">
                                            <option>Economy</option>
                                            <option>Business</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-btn">
                                        <button id="submitButton" class="submit-btn" type="button">Show flights</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="results">
    <ul id="itineraries">
    </ul>
</div>

<template class="itineraryTemplate">
    <li class="listitem">
        <table class="table">
            <tr class="tablerow">
                <td class="flightInfos">
                    <ul class="outAndInboundFlights">
                        <li class="outboundFlight">
                            <ul>
                                <li class="carrierIMG"></li>
                                <li class="departure"></li>
                                <li class="duration"></li>
                                <li class="arrival"></li>
                            </ul>
                        </li>
                        <li class="inboundFlight">
                            <ul>
                                <li class="carrierIMG"></li>
                                <li class="departure"></li>
                                <li class="duration"></li>
                                <li class="arrival"></li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td class="priceAndLink">
                    <ul>
                        <li class="price"></li>
                        <li class="link"></li>
                    </ul>
                </td>
            </tr>
        </table>
    </li>
</template>
