<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <template class="listItemTemplate">
        <li class="itinerary">
            <table>
                <tr>
                    <td id="flightInfos">
                        <ul id="outAndInboundFlights">
                            <li id="outbondFlight">
                                <ul>
                                    <li id="carrierIMG"></li>
                                    <li id="departure"></li>
                                    <li id="duration"></li>
                                    <li id="arrival"></li>
                                </ul>
                            </li>
                            <li id="inboundFlight">
                                <ul>
                                    <li id="carrierIMG"></li>
                                    <li id="departure"></li>
                                    <li id="duration"></li>
                                    <li id="arrival"></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td id="priceAndLink">
                        <ul>
                            <li id="price"></li>
                            <li id="link"></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </li>
    </template>
</body>
</html>